/* Modelo de celular SAMSUNG A17, dimenciones: 1080x2340 */
/*Elementos*/

html{
    overscroll-behavior: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
}

body {
    background: white;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overscroll-behavior: none;
}

/* Sombra para menus superpuestos */

.oculto {
    display: none;
}

.sombra {
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    position: fixed;
    inset: 0;
}

/* HUD superior */

.contenedorHUD {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgb(0, 0, 0, 0.1);
    
    width: 100%;
    
    z-index: 1;
    position: fixed;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 1px;
}

#superior {
    height: 7vh;
    top: 0;
    
    padding: 1vh 1vw;
}

#logo {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 10vw;
    border-style: hidden;
}

#saldo {
    background-color: white;
    height: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2vw;
    
    display: flex;
    align-items: center;
    padding: 3vh 2vw;

    font-size: 4vh;
}

.animacion1 {
    animation-duration: 3s;
    animation-name: Aparezco;
    animation-fill-mode: forwards;
}

@keyframes Aparezco {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* HUD inferior */

#inferior {
    height: 6vh;
    bottom: 0;
}

button {
    font-family: Calibri;
    font-size: 2vh;
}

#inferior button {
    height: 100%;
    width: 50%;

}
button:hover {
    filter: brightness(0.7);
}

#btnProducto {
    background-color: #E8D9B8;
}

#btnMovimiento {
    background-color: #F5EEDC;
}

/* principal */

.contenedorSeccion { 
    background-color: white;
    position: relative;
    top: 7vh;
    width: 100vw;
    height: 87vh;
    overflow: hidden;
}

.contenedorTablas {
    width: 100%;
    overflow: scroll;
}

#productos {
    height: 70%;
}

#movimientos {
    height: 30%;
}

/* Tablas */

table {
    font-size: 2.5vh;
    
    border-collapse: collapse; 
    border-spacing: 0;
    margin: 0;

    width: 100%;
}

table th {
    padding: 5px 10px;
    background-color: #7FA6A1;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-style: solid;
}

table td {
    padding: 5px 10px;
    background-color: #CFE3E0;
    text-align: center;
    
    border-style: solid;
}

#gasto {
    background-color: rgba(255, 0, 0, 0.2);
}

#ganancia {
    background-color: rgba(0, 255, 0, 0.2);
}

/* nuevas entradas */

.contenedor {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 1vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);

    height: 40vh;
    width: 90vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    
    z-index: 2;
    position: relative;
    top: 30vh;
    left: 5vw;
}

.campo {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 20%;
    padding: 2vw;
}

.contenedor button {
    width: 80%;
    height: 20%;
}